@import './common';
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  width: 500px;
  text-align: center;
  border: 1px #000 solid;
  border-radius: 5px;
}

.form > .input:hover,
.form > .input:focus {
  border-color: rgb(105, 105, 105);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(85 85 85 / 60%) !important;
}

.container-weather {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

  border: 1px #000 solid;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(85 85 85 / 60%);
  background: linear-gradient(135deg, #ffd0df 0%, #d6e5ff 100%);
}

.city-name {
  font-size: 24px;
  text-align: center;
}

.current-date {
  text-align: center;
}

.type-weather {
  font-size: 18px;
}

.temperature {
  font-size: 38px;
}

.wrapper {
  display: flex;
  text-align: left;
  justify-content: space-around;
}

.weather {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 10px;
}

.cities-list {
  position: absolute;
  top: 34px;
  left: 0;
  padding: 5px 15px;
  width: 300px;
  background-color: #fff;
  text-align: left;
  border: 1px #000 solid;
  border-radius: 5px;
}

.list {
  list-style: none;
  width: 250px;
  font-size: 12px;
}

.list:not(:last-child) {
  margin-bottom: 5px;
}

.btn-list {
  text-align: left;
  border: none;
  background-color: inherit;
}

.btn-list:hover,
.btn-list:focus {
  color: #bfd6ff;
}

.container-absolute {
  position: relative;
  margin-right: 15px;
  width: 300px;
}

.form-inline .form-control {
  width: 300px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-more {
  border-style: none;
  background-color: inherit;
  padding: 0;
  width: 100px;
}

.btn-more:hover,
.btn-more:focus {
  color: #bfd6ff;
}

.container-diagram {
  width: 500px;
  height: 300px;
  margin: 10px auto 0 auto;
  display: none;
}
